{% extends "shop/base.html" %}
{% load static %}
{% block title %}Подробная информация о пользователе{% endblock %}

{% block header %}
    {% include 'Includes/header_admin.html'%}
{% endblock %}
{% block content %}
<br>
<a class="come_back_button" href="{% url 'shop:UserListView' %}"><p>Назад</p></a>
    <div class='form-wrapper1'>
        <h1 class="name_oparetion" style="text-align: center;">Просмотр</h1>
        <div class="">
            <div>
                <div class="">
                    <h2 class="">Логин: {{ UserListView.username }}</h2>
                    <h2 class="">Имя: {{ UserListView.first_name }}</h2>
                    <h2 class="">Фамилия: {{ UserListView.last_name }}</h2>
                    <h2 class="">E-mail: {{ UserListView.email }}</h2>
                    <div class="up_del_but">
                        <a href = "{% url 'shop:UserUpdateView' UserListView.pk %}"><p>Обновить</p></a>
                        <a href = "{% url 'shop:User_Delete' UserListView.pk %}"><p>Удалить</p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


