{% load static %}
<footer class="footer">
    <div class="footer-logo">
        <img src="{% static 'img/icon _donate_.png' %}" alt="BeautyShop Logo">
        <div class="footer-text">
            <strong>BEAUTYSHOP -</strong><br>
            <span>С заботой о вас</span>
        </div>
    </div>
    <div class="social-icons">
        <a href="#"><img src="{% static 'img/icon _facebook squared_.png' %}" alt="Facebook"></a>
        <a href="#"><img src="{% static 'img/icon _twitter_.png' %}" alt="Twitter"></a>
        <a href="#"><img src="{% static 'img/icon _instagram_.png' %}" alt="Instagram"></a>
        <a href="#"><img src="{% static 'img/icon _telegram circled_.png' %}" alt="Telegram"></a>
    </div>
</footer>
