{% extends "shop/base.html" %}
{% load static %}
{% block title %}Удаление оплаты{% endblock %}

{% block header %}
    {% include 'Includes/header_admin.html'%}
{% endblock %}
{% block content %}
<a class="come_back_button" href="{% url 'shop:PaymentListView' %}"><p>Назад</p></a>
<div class="form-wrapper1">
    <form method="post" action="{% url 'shop:Payment_Delete' pk=payment.pk %}">
        {% csrf_token %}
        <label>
            <h1>Удалить - {{PaymentDeleteView.order.user.username}} - {{PaymentDeleteView.date_payment }}</h1>
            <button type="submit">Удалить</button>
        </label>
    </form>
</div>
{% endblock %}
