{% extends "shop/base.html" %}
{% load static %}
{% block title %}Подробная информация о роли{% endblock %}

{% block header %}
    {% include 'Includes/header_manager.html'%}
{% endblock %}
{% block content %}
<br>
<a class="come_back_button" href="{% url 'shop:OrderListView' %}"><p>Назад</p></a>
    <div class='form-wrapper1'>
        <h1 class="name_oparetion" style="text-align: center;">Просмотр</h1>
        <div class="">
            <div>
                <div class="">
                    <h2 class="">Пользователь: {{ OrderListView.user.username }}</h2>
                    <h2 class="">Дата заказа: {{ OrderListView.dates_order }}</h2>
                    <h2 class="">Сумма: {{ OrderListView.total_amount }} руб.</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


