{% extends "shop/base.html" %}
{% load static %}
{% block title %}Подробная информация о бренде{% endblock %}

{% block header %}
    {% include 'Includes/header_admin.html'%}
{% endblock %}
{% block content %}
<br>
<a class="come_back_button" href="{% url 'shop:BrendsListView' %}"><p>Назад</p></a>
    <div class='form-wrapper1'>
        <h1 class="name_oparetion" style="text-align: center;">Просмотр</h1>
        <div class="">
            <div>
                <div class="">
                    <h2 class="">{{ BrendsListView.name_brand }}</h2>
                    <h2 class="">{{ BrendsListView.country }}</h2>
                    <div class="up_del_but">
                        <a href = "{% url 'shop:BrendsUpdateView' BrendsListView.pk %}"><p>Обновить</p></a>
                        <a href = "{% url 'shop:Brend_Delete' BrendsListView.pk %}"><p>Удалить</p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


