{% extends "shop/base.html" %}
{% load static %}
{% block title %}О нас - BEAUTYSHOP{% endblock %}

{% block header %}
    {% include 'Includes/header_user.html' %}
{% endblock %}

{% block content %}
<div class="about-container">
    <h1 class="about-title">О нас</h1>
    <div class="about-content">
        <div class="about-image">
                <h1 class="logo">BeautyShop</h1>
        </div>
        <div class="about-text">
            <h2>Добро пожаловать в BEAUTYSHOP</h2>
            <p>Ваш проводник в мире красоты и ухода! Мы верим, что красота — это уверенность в себе, забота о здоровье и уникальная индивидуальность.</p>
            
            <h3>Наша миссия</h3>
            <p>BEAUTYSHOP стремится предлагать только лучшее: проверенные средства для ухода и новинки индустрии, которые помогут создать ваш идеальный образ. Мы предлагаем продукты, которые подчеркнут вашу индивидуальность и заботу о себе.</p>
            
            <h3>Наш ассортимент</h3>
            <p>В каталоге BEAUTYSHOP вы найдете всё необходимое: от средств для ухода за кожей и волосами до трендовых косметических новинок для макияжа. Мы работаем только с проверенными брендами и новаторами индустрии, гарантируя высокое качество каждого продукта.</p>
            
            <h3>Наша команда</h3>
            <p>Эксперты BEAUTYSHOP всегда готовы помочь вам в выборе. Мы учитываем особенности вашего типа кожи и личные предпочтения, чтобы предложить решения, которые вам подойдут. Наши специалисты регулярно следят за мировыми тенденциями и обновляют ассортимент, чтобы вдохновлять и радовать вас.</p>
            
            <h3>Благодарим вас</h3>
            <p>Спасибо, что выбираете BEAUTYSHOP! Мы гордимся, что можем быть частью вашего пути к красоте и совершенству. Оставайтесь с нами — и помните, что красота всегда рядом!</p>
        </div>
    </div>
    <div class="about-cta">
        <a href="{% url 'shop:catalog' %}" class="btn-main-about">Перейти к покупкам</a>
    </div>
</div>
{% endblock %}
