{% extends "shop/base.html" %}
{% load static %}
{% block title %}Просмотр ролей{% endblock %}

{% block header %}
    {% include 'Includes/header_admin.html'%}
{% endblock %}
{% block content %}
<header>
    <table class="table">
    <thead>
      <a class="add_button" href="{% url 'shop:RolesCreateView' %}"><p>Добавить</p></a>
      <tr>
        <th>Название роли</th>
        <th>Детали</th>
        <th>Изменение</th>
        <th>Удаление</th>
      </tr>
    </thead>
    <tbody>
      {% for role in RolesListView %}
        <tr>
          <td>{{ role.name_role }}</td>
          <td><a href="{% url 'shop:RolesDetailView' role.pk %}">Подробнее</a><br></td>
          <td><a href="{% url 'shop:RolesUpdateView' role.pk %}">Изменить</a><br></td>
          <td><a href="{% url 'shop:Roles_Delete' role.pk %}">Удалить</a><br></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <nav aria-label="Page navigation" class="pagination-container">
    <ul class="pagination">
      {% if RolesListView.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1" aria-label="First">&laquo;&laquo;</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ RolesListView.previous_page_number }}" aria-label="Previous">&laquo;</a>
        </li>
      {% endif %}
  
      {% for page in RolesListView.paginator.page_range %}
        <li class="page-item{% if RolesListView.number == page %} active{% endif %}">
          <a class="page-link" href="?page={{ page }}">{{ page }}</a>
        </li>
      {% endfor %}
  
      {% if RolesListView.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ RolesListView.next_page_number }}" aria-label="Next">&raquo;</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ RolesListView.paginator.num_pages }}" aria-label="Last">&raquo;&raquo;</a>
        </li>
      {% endif %}
    </ul>
  </nav>
</header>

{% endblock %}