{% extends "shop/base.html" %}
{% load static %}
{% block title %}Обновление заказа{% endblock %}

{% block header %}
    {% include 'Includes/header_admin.html'%}
{% endblock %}
{% block content %}
<a class="come_back_button" href="{% url 'shop:OrderListView' %}"><p>Назад</p></a>
<div class="form-wrapper1">
    <h1 class="name_oparetion" style="text-align: center;">Обновить заказ</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <label>
            <br>
            <button type="submit">Изменить</button>
        </label>
    </form>
</div>
{% endblock %}


